@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');

/*======================
GLOBAL
========================*/
html{
  scroll-behavior: smooth;
  font-size: 10px;
}
body{
  font-family: din-2014, sans-serif;
  font-style: normal;
  font-weight: 300; /* Din 2014 light */
  font-size: 14px;
}
.flex {
  display: flex;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: din-2014, sans-serif;
  color: #fff;
  font-weight: 300;
}
h2{
  font-size: 6rem;
}
p {
  font-size: 26px;
  font-family: din-2014, sans-serif;
  font-weight: 300;
  color: #fff;
}
.button {
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #fff;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
  transition: all 0.3s ease;
  background: none;
}
.button:hover {
  transform: scale(1.1);
  background: #fff;
  color: #6c2125;
}
@media screen and (max-width: 768px) {
  .flex{
    flex-direction: column;
  }
}

/*======================
NAVIGATION
========================*/
.navbar{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,041d2b+50,0b4360+100 */
  background: #000000; /* Old browsers */
  background: -moz-linear-gradient(top,  #000000 0%, #041d2b 50%, #0b4360 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #000000 0%,#041d2b 50%,#0b4360 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #000000 0%,#041d2b 50%,#0b4360 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#0b4360',GradientType=0 ); /* IE6-9 */
}

.navbar-wide .navbar-header .navbar-brand{
  line-height: 90px;
}

.navbar-default .navbar-nav > li > a{
  color: #fff;
}

/*======================
SECTIONS
========================*/
.set {
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  max-width: 1600px;
  margin: auto;
}
.col {
  padding: 5%;
}

/*======================
SECTION 1
========================*/
#section-1 {
  padding-top: 0; /* This is an offset for the sticky navigation */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0b4360+0,041d2b+50,000000+100 */
  background: #7d8386; /* Old browsers */
  background: -moz-radial-gradient(bottom right, ellipse cover,  #0b4360 0%, #041d2b 50%, #000000 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(bottom right, ellipse cover,  #0b4360 0%,#041d2b 50%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at bottom right,  #0b4360 0%,#041d2b 50%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b4360', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  height: 100vh;
  color: #fff;
  position: relative;
}
#section-1 video{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}
#section-1 .set{
  position: relative;
  z-index: 5;
}
#section-1 .set h1{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2vw;
}
#section-1 .set h1 span{
  text-transform: none;
  font-size: 5vw;
  font-family: 'din-bold';
  line-height: 90%;
  display: block;
  padding: 20px 0;
}
#section-1 .set h2{
  font-size: 3rem;
  margin-top: 0;

}
#section-1 .set h3{
  font-family: 'din-bold';
  font-size: 1.5vw;
  margin-top: 5%;
}
#countdown{
  margin: 0;
  padding: 20px 0 10px 0;
}
.chart {
  display: inline-block;
  width: 95px;
  height: 95px;
  margin: 0 10px;
  vertical-align: top;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 17px;
  font-size: 14px;
  text-transform: uppercase;
}
.chart span {
  display: block;
  font-size: 3em;
  line-height: 100%;
  font-family: 'din-bold';
  text-transform: none;
}
.chart canvas {
  position: absolute;
  left: 0;
  top: 0;
}
#section-1 .col {
  width: 50%;
  text-align: center;
}
img.classic-logo {
  max-width: 480px;
  width: 100%;
}
#section-1 img.featured {
  width: 100%;
  position: relative;
}
#section-1 img.featured-2{
  animation-name: fade-2;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 7s;
	animation-direction: alternate;
}
#section-1 h2{
  font-size: 4rem;
}
#section-1 .sentence > span:last-child{
  padding-left: 38px;
}
#section-1 .button {
  margin-top: 30px;
}
#section-1 .glow {
  box-shadow: 0px 0px 300px #b71725;
  border-radius: 130px 130px 110px 110px;
  display: inline-block;
}

/*Vertical Sliding*/
.slidingVertical{
	display: inline;
}
.slidingVertical span{
	animation: topToBottom 15s linear infinite 0s;
	-ms-animation: topToBottom 15s linear infinite 0s;
	-webkit-animation: topToBottom 15s linear infinite 0s;
	opacity: 0;
	overflow: hidden;
  position: absolute;
  font-weight: bold;
}
.slidingVertical span:nth-child(2){
	animation-delay: 2.5s;
	-ms-animation-delay: 2.5s;
	-webkit-animation-delay: 2.5s;
}
.slidingVertical span:nth-child(3){
	animation-delay: 5s;
	-ms-animation-delay: 5s;
	-webkit-animation-delay: 5s;
}
.slidingVertical span:nth-child(4){
	animation-delay: 7.5s;
	-ms-animation-delay: 7.5s;
	-webkit-animation-delay: 7.5s;
}
.slidingVertical span:nth-child(5){
	animation-delay: 10s;
	-ms-animation-delay: 10s;
	-webkit-animation-delay: 10s;
}
.slidingVertical span:nth-child(6){
	animation-delay: 12.5s;
	-ms-animation-delay: 12.5s;
	-webkit-animation-delay: 12.5s;
}
.slidingVertical span:nth-child(7){
	animation-delay: 15s;
	-ms-animation-delay: 15s;
	-webkit-animation-delay: 15s;
}

/*topToBottom Animation*/
@-moz-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -moz-transform: translateY(-25px); }
	10% { opacity: 1; -moz-transform: translateY(0px); }
	25% { opacity: 1; -moz-transform: translateY(0px); }
	30% { opacity: 0; -moz-transform: translateY(25px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-webkit-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -webkit-transform: translateY(-25px); }
	10% { opacity: 1; -webkit-transform: translateY(0px); }
	25% { opacity: 1; -webkit-transform: translateY(0px); }
	30% { opacity: 0; -webkit-transform: translateY(25px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes topToBottom{
	0% { opacity: 0; }
	5% { opacity: 0; -ms-transform: translateY(-25px); }
	10% { opacity: 1; -ms-transform: translateY(0px); }
	25% { opacity: 1; -ms-transform: translateY(0px); }
	30% { opacity: 0; -ms-transform: translateY(25px); }
	80% { opacity: 0; }
	100% { opacity: 0; }
}


@media screen and (max-width: 1280px) {
  img.classic-logo{
    max-width: 300px;
  }
  #section-1 .button{
    margin-bottom: 30px;
  }
}
@media screen and (max-height: 1100px) {
  #section-1 img.featured {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  #section-1{
    height: auto;
  }
  #section-1 .set h1{
    font-size: 3rem;
  }
  #section-1 .set h1 span{
    font-size: 6rem;
  }
  #section-1 .set h2{
    font-size: 3rem;
  }
  #section-1 .sentence > span:last-child{
    padding-left: 30px;
  }
  #section-1 .set h3{
    font-size: 2rem;
    margin-top: 50px;
  }
  #section-1 .col{
    width: auto;
  }
  #section-1 .col:nth-child(2) {
    order: 3;
  }
  .chart{
    margin: 0;
  }
}

/*======================
SECTION 2
========================*/
#section-2 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0b4360+0,041d2b+50,000000+100 */
  background: #0b4360; /* Old browsers */
  background: -moz-radial-gradient(bottom left, ellipse cover,  #0b4360 0%, #041d2b 50%, #000000 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(bottom left, ellipse cover,  #0b4360 0%,#041d2b 50%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at bottom left,  #0b4360 0%,#041d2b 50%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b4360', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  position: relative;
  overflow: hidden;
}
#section-2 .set{
  justify-content: space-between;
}
#section-2 h2{
  font-weight: bold;
}
#section-2 .additional{
  font-weight: bold;
  font-size: 1.6rem;
}
#section-2 .col:last-child {
  width: 65%;
  padding: 5%;
}
#section-2 .col .col {
  width: 50%;
  padding: 5% 2.5%;
}
#section-2 .col ul{
  padding-left: 0;
  font-weight: 400;
}
#section-2 .col ul li{
  padding-bottom: 0;
}
#section-2 img.featured {
  max-height: 900px;
  position: absolute;
  z-index: 1;
  left: -200px;
  bottom: -200px;
  padding-top: 5%;
}
#section-2 .container{
  position: relative;
  z-index: 5;
}
@media screen and (max-width: 768px) {
  #section-2{
    height: auto;
  }
  #section-2 .col{
    width: auto;
  }
  #section-2 .col:last-child{
    width: auto;
  }
  #section-2 .col .col{
    width: auto;
  }
  #section-2 .col .col:first-child{
    padding-bottom: 0;
  }
  #section-2 .col .col:last-child{
    padding-top: 0;
  }
}

/*======================
SECTION 3
========================*/
#section-3 {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0b4360+0,041d2b+50,000000+100 */
  background: #0b4360; /* Old browsers */
  background: -moz-radial-gradient(bottom left, ellipse cover,  #0b4360 0%, #041d2b 50%, #000000 100%); /* FF3.6-15 */
  background: -webkit-radial-gradient(bottom left, ellipse cover,  #0b4360 0%,#041d2b 50%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at bottom left,  #0b4360 0%,#041d2b 50%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0b4360', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  color: #fff;
  position: relative;
  overflow: hidden;
  
}
#section-3 #sonarworks{
  display: flex;
  
}
#section-3 h2, #section-3 h3, #section-3 p{
  font-family: 'Inter', sans-serif;
}
#section-3 h3, #section-3 p{
  font-weight: bold;
}
#section-3 .left-side{
  width: 50%;
  padding: 30px;
  background: #000;
  position: relative;
}
#section-3 .right-side .column-1{
  padding-right: 7%;
  padding-left: 3%;
}
#section-3 .right-side .column-2{
  padding-right: 7%;
  padding-left: 3%;
}
#section-3 .sonarworks-setup{
  width: 75%;
  display: block;
  margin: auto;
  padding: 10% 5%;
}
#section-3 .schok-logo{
  display: inline-block;
  vertical-align: middle;
  max-height: 50px;
  margin-right: 30px;
}
#section-3 .soundid{
  display: inline-block;
  vertical-align: middle;
  max-height: 50px;
}
#section-3 .right-side{
  width: 50%;
  padding: 30px;
  background: #64A4D7;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#section-3 .right-side video{
  padding: 20px 0;
}
#section-3 .right-side h2, #section-3 .right-side h3, #section-3 .right-side p{
  color: #000;
}
#section-3 .right-side h3{
  font-size: 1.5vw;
}
#section-3 .right-side p{
  font-size: 1vw;
}
#section-3 .column-set{
  display: flex;
}
#section-3 .item{
  position: relative;
  padding-bottom: 5%;
}
#section-3 .item.first:before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url(https://cdn.shopify.com/s/files/1/1527/1793/files/arrow-up-icon.svg?v=1658782759) no-repeat center;
  background-size: contain;
  position: absolute;
  left: -25px;
  top: 1%;
  z-index: 100;
}
#section-3 .item.second:before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url(https://cdn.shopify.com/s/files/1/1527/1793/files/dots-icon.svg?v=1658782942) no-repeat center;
  background-size: contain;
  position: absolute;
  left: -25px;
  top: 1%;
  z-index: 100;
}
#section-3 .item.third:before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url(https://cdn.shopify.com/s/files/1/1527/1793/files/arrow-right-icon.svg?v=1658782758) no-repeat center;
  background-size: contain;
  position: absolute;
  left: -25px;
  top: 1%;
  z-index: 100;
}
#section-3 .item.fourth:before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url(https://cdn.shopify.com/s/files/1/1527/1793/files/plus-icon.svg?v=1658782942) no-repeat center;
  background-size: contain;
  position: absolute;
  left: -25px;
  top: 1%;
  z-index: 100;
}
#section-3 h2{
  font-weight: bold;
}
#section-3 .additional{
  font-weight: bold;
  font-size: 1.6rem;
}
#section-3 .col:last-child {
  width: 65%;
  padding: 5%;
}
#section-3 .col .col {
  width: 50%;
  padding: 5% 2.5%;
}
#section-3 .col ul{
  padding-left: 0;
  font-weight: 400;
}
#section-3 .col ul li{
  padding-bottom: 15px;
}
#section-3 img.featured {
  max-height: 900px;
  position: absolute;
  z-index: 1;
  left: -200px;
  bottom: -200px;
  padding-top: 5%;
}
#section-3 .container{
  position: relative;
  z-index: 5;
}

@media screen and (max-width: 1000px) {
  #section-3 .schok-logo{
    max-height: 30px;
    margin-right: 15px;
  }
  #section-3 .soundid{
    max-height: 30px;
  }
  #section-3 #sonarworks{
    display: block;
  }
  #section-3 .left-side{
    width: auto;
  }
  #section-3 .right-side{
    width: auto;
  }
  #section-3 .column-set{
    display: block;
  }
  #section-3 .right-side h3{
    font-size: 3rem;
  }
  #section-3 .right-side p{
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  #section-3{
    height: auto;
  }
  #section-3 .col{
    width: auto;
  }
  #section-3 .col:last-child{
    width: auto;
  }
  #section-3 .col .col{
    width: auto;
  }
  #section-3 .col .col:first-child{
    padding-bottom: 0;
  }
  #section-3 .col .col:last-child{
    padding-top: 0;
  }
}


/*======================
Animations
========================*/
@keyframes fade {
	0% {
		opacity: 1;
	}
	25% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fade-2 {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

/*======================
MISC
========================*/
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*======================
SECTION 5
========================*/
#section-5 {
  background: url(https://cdn.shopify.com/s/files/1/1527/1793/files/Blue.png?v=1658780606) no-repeat center;
  background-size: cover;
  overflow: hidden;
  color: #484949;
  padding: 5% 0;
  position: relative;
}

#section-5 h2{
  text-align: center;
  /* font-weight: bold; */
  color: #fff;
  margin: 0;
  padding-bottom: 5%;
  font-size: 5rem;
}
#section-5 .set {
  align-items: stretch;
  max-width: 80%;
}
#section-5 .col {
  width: 33.33%;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
#section-5 .box-items {
  max-width: 95%;
  background: none;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0% 0;
}
#section-5 .box-items .item {
  width: 25%;
  text-align: center;
  padding: 2%;
  color: #fff;
  font-family: din-2014, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}
#section-5 .box-items .item img {
  display: block;
  margin: auto;
  max-width: 220px;
}
@media screen and (max-width: 768px) {
  #section-5 {
    height: auto;
  }
  #section-5 .col {
    width: auto;
  }
  #section-5 .box-items .item{
    padding: 10% 5%;
    width: auto;
  }
}

@font-face {
	font-family: 'din';
	src: url('https://cdn.shopify.com/s/files/1/1527/1793/files/DIN2014-ExtraLight.eot?v=1658769026');
	src: url('https://cdn.shopify.com/s/files/1/1527/1793/files/DIN2014-ExtraLight.eot?v=1658769026?#iefix') format('embedded-opentype'),
		url('https://cdn.shopify.com/s/files/1/1527/1793/files/DIN2014-ExtraLight.woff2?v=1658769026') format('woff2'),
		url('https://cdn.shopify.com/s/files/1/1527/1793/files/DIN2014-ExtraLight.woff?v=1658769026') format('woff'),
		url('https://cdn.shopify.com/s/files/1/1527/1793/files/DIN2014-ExtraLight.ttf?v=1658769026') format('truetype'),
		url('https://cdn.shopify.com/s/files/1/1527/1793/files/DIN2014-ExtraLight.svg?v=1658769026#DIN2014-ExtraLight') format('svg');
	font-weight: 200;
	font-style: normal;
}
@font-face {
    font-family: 'din-bold';
    src: url('https://cdn.shopify.com/s/files/1/1527/1793/files/DIN2014ExtraBold.eot?v=1658784042');
    src: url('https://cdn.shopify.com/s/files/1/1527/1793/files/DIN2014ExtraBold.eot?v=1658784042') format('embedded-opentype'),
         url('https://cdn.shopify.com/s/files/1/1527/1793/files/DIN2014ExtraBold.woff2?v=1658784042') format('woff2'),
         url('https://cdn.shopify.com/s/files/1/1527/1793/files/DIN2014ExtraBold.woff?v=1658784042') format('woff'),
         url('https://cdn.shopify.com/s/files/1/1527/1793/files/DIN2014ExtraBold.ttf?v=1658784042') format('truetype'),
         url('https://cdn.shopify.com/s/files/1/1527/1793/files/DIN2014ExtraBold.svg?v=1658784042#DIN2014ExtraBold') format('svg');
    font-style: normal;
}