@charset "UTF-8";
/*------------------------------------------------------------------
Variables
*/
/*------------------------------------------------------------------
Re-usable Styles
*/
.thb-product-detail .product-thumbnails .slick-slide:before, .thb-product-detail .product-information .variations .product-form__input--color input[type="radio"] + label, .thb-product-detail .product-information .variations .product-form__input--color input[type="radio"] + label:after {
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.thb-product-detail {
  margin-bottom: 40px; }
  @media only screen and (min-width: 768px) {
    .thb-product-detail {
      margin-bottom: 80px; } }
  .thb-product-detail.section-no-bottom-margin {
    margin-bottom: 0; }
  .thb-product-detail .product-images {
    margin: 0 0 0 -15px;
    width: calc(100% + 30px);
    max-width: calc(100% + 30px); }
    @media only screen and (min-width: 768px) {
      .thb-product-detail .product-images {
        margin: 0;
        width: 100%;
        max-width: 100%; } }
    .js .thb-product-detail .product-images.slick {
      height: 450px; }
    .thb-product-detail .product-images.slick.slick-initialized {
      height: auto; }
    .thb-product-detail .product-images img {
      width: 100%; }
    .thb-product-detail .product-images > a {
      display: block; }
    .thb-product-detail .product-images .zoom {
      position: relative; }
    .thb-product-detail .product-images .product-single__media {
      position: relative; }
      .thb-product-detail .product-images .product-single__media > iframe,
      .thb-product-detail .product-images .product-single__media > video,
      .thb-product-detail .product-images .product-single__media .shopify-model-viewer-ui,
      .thb-product-detail .product-images .product-single__media model-viewer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%; }
  .thb-product-detail .product-thumbnails {
    margin: 0 0 0 -15px;
    width: calc(100% + 30px);
    max-width: calc(100% + 30px); }
    @media only screen and (min-width: 768px) {
      .thb-product-detail .product-thumbnails {
        margin: 0;
        width: 100%;
        max-width: 100%; } }
    .thb-product-detail .product-thumbnails .slick-slide {
      cursor: pointer; }
      .thb-product-detail .product-thumbnails .slick-slide:before {
        content: "";
        display: block;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        pointer-events: none; }
      .thb-product-detail .product-thumbnails .slick-slide.slick-current:before {
        box-shadow: inset 0 0 0 1px #444444; }
      .thb-product-detail .product-thumbnails .slick-slide img {
        width: 100%; }
    .thb-product-detail .product-thumbnails .product-thumbnail {
      position: relative;
      margin: 0 0 20px; }
      .thb-product-detail .product-thumbnails .product-thumbnail-icon {
        width: 21px;
        height: 21px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.12);
        position: absolute;
        top: 3px;
        right: 3px;
        pointer-events: none; }
        .thb-product-detail .product-thumbnails .product-thumbnail-icon svg {
          opacity: 0.6;
          width: 8px; }
      .thb-product-detail .product-thumbnails .product-thumbnail:hover svg {
        opacity: 1; }
  .thb-product-detail .product-information {
    margin-top: 45px; }
    @media only screen and (min-width: 1068px) {
      .thb-product-detail .product-information {
        padding-left: 35px;
        margin-top: 0; } }
    .thb-product-detail .product-information .north-breadcrumb {
      padding-top: 0;
      padding-bottom: 30px; }
    .thb-product-detail .product-information h1.product_title {
      font-size: calc(var(--font-heading-scale) * 1.625rem);
      font-weight: 500;
      margin-bottom: 15px;
      word-break: break-word; }
      .thb-product-detail .product-information h1.product_title.uppercase-true {
        text-transform: uppercase; }
    .thb-product-detail .product-information .product-short-description {
      margin-bottom: 25px; }
      .thb-product-detail .product-information .product-short-description li {
        margin-bottom: 0; }
    .thb-product-detail .product-information fieldset {
      border: 0;
      padding: 0;
      margin-bottom: 20px; }
      .thb-product-detail .product-information fieldset select,
      .thb-product-detail .product-information fieldset .select {
        margin-bottom: 0; }
    .thb-product-detail .product-information .stock.out-of-stock {
      display: block;
      border: 1px solid #db4141;
      padding: 10px;
      text-align: center;
      margin: 30px 0;
      font-weight: 600;
      color: #db4141; }
    .thb-product-detail .product-information .product-price-container {
      margin-top: 10px;
      margin-bottom: 20px; }
      .thb-product-detail .product-information .product-price-container .product__tax {
        font-size: 0.8125rem;
        color: rgba(var(--color-text-rgb), 0.6);
        margin-top: 10px; }
        .thb-product-detail .product-information .product-price-container .product__tax a  {
          text-decoration: underline; }
      .thb-product-detail .product-information .product-price-container .spr-badge {
        display: flex;
        margin-top: 15px;
        align-items: center; }
        .thb-product-detail .product-information .product-price-container .spr-badge .spr-badge-starrating {
          font-size: 0.75rem; }
        .thb-product-detail .product-information .product-price-container .spr-badge .spr-badge-caption {
          font-size: 14px;
          margin-left: 14px;
          color: rgba(var(--color-text-rgb), 0.5); }
    .thb-product-detail .product-information .price {
      font-size: 24px;
      line-height: 1;
      display: inline-flex;
      align-items: center; }
      .thb-product-detail .product-information .price > .price {
        margin-bottom: 0; }
      .thb-product-detail .product-information .price .unit-price {
        font-size: 16px;
        margin-left: 10px; }
    .thb-product-detail .product-information .woocommerce-product-rating {
      font-size: 12px; }
    .thb-product-detail .product-information .variations label .label-value {
      text-transform: none; }
    .thb-product-detail .product-information .variations .product-form__input--color {
      margin-bottom: 17px; }
      .thb-product-detail .product-information .variations .product-form__input--color .value {
        display: flex;
        flex-wrap: wrap;
        margin-left: -2px; }
      .thb-product-detail .product-information .variations .product-form__input--color input[type="radio"] {
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
        position: absolute;
        height: 1px;
        width: 1px; }
      .thb-product-detail .product-information .variations .product-form__input--color input[type="radio"] + label {
        width: auto;
        width: 34px;
        height: 34px;
        margin-right: 4px;
        display: inline-block;
        text-indent: -9999em;
        position: relative;
        background-color: var(--option-color);
        background-size: cover;
        margin-bottom: 0;
        cursor: pointer;
        will-change: scale; }
        .thb-product-detail .product-information .variations .product-form__input--color input[type="radio"] + label:before {
          content: "";
          display: block;
          position: absolute;
          top: -1px;
          left: -1px;
          right: -1px;
          bottom: -1px;
          box-shadow: 0 0 0 4px var(--bg-body) inset;
          z-index: 0; }
        .thb-product-detail .product-information .variations .product-form__input--color input[type="radio"] + label:after {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%; }
      .thb-product-detail .product-information .variations .product-form__input--color input[type="radio"]:checked + label:after {
        box-shadow: 0 0 0 1px var(--color-text) inset; }
      .thb-product-detail .product-information .variations .product-form__input--color input[type="radio"]:not(:checked):hover + label {
        transform: scale(0.9); }
      .thb-product-detail .product-information .variations .product-form__input--color input[type="radio"]:focus-visible + label {
        transform: scale(0.9); }
        .thb-product-detail .product-information .variations .product-form__input--color input[type="radio"]:focus-visible + label:after {
          box-shadow: 0 0 0 2px #015ecc inset, 0 0 0 1px var(--color-text) inset; }
    .thb-product-detail .product-information .add_to_cart_holder {
      display: flex;
      margin-top: 35px; }
    .thb-product-detail .product-information div.quantity {
      margin-right: 10px;
      vertical-align: middle; }
    .thb-product-detail .product-information .shopify-installments {
      border-bottom: 1px solid var(--color-border);
      padding-bottom: 20px;
      margin-bottom: 20px; }
    .thb-product-detail .product-information .single_add_to_cart_button {
      vertical-align: middle;
      flex: 1;
      position: relative; }
      .thb-product-detail .product-information .single_add_to_cart_button.thb-loading span {
        display: none; }
      .thb-product-detail .product-information .single_add_to_cart_button.thb-loading:after {
        width: 24px;
        height: 24px;
        background-size: 24px;
        margin: -12px 0 0 -12px; }
      .thb-product-detail .product-information .single_add_to_cart_button:disabled {
        opacity: 0.4;
        cursor: not-allowed; }
    .thb-product-detail .product-information .product_meta {
      color: rgba(var(--color-text-rgb), 0.7);
      font-size: 0.8125rem;
      line-height: 1;
      margin-bottom: 20px; }
      .thb-product-detail .product-information .product_meta > span {
        display: block;
        margin-bottom: 10px;
        margin-right: 15px; }
        .thb-product-detail .product-information .product_meta > span span {
          color: var(--color-accent1); }
    .thb-product-detail .product-information .product-add-to-cart-container {
      margin-top: 20px;
      margin-bottom: 30px; }
      .thb-product-detail .product-information .product-add-to-cart-container label {
        display: block; }
  @media only screen and (min-width: 1068px) {
    .thb-product-detail.thb-product-style1 .product-gallery-container, .thb-product-detail.thb-product-style2 .product-gallery-container {
      position: sticky;
      left: 0;
      top: 170px; } }
  .thb-product-detail.thb-product-style1 .product-gallery-container {
    display: flex;
    flex-direction: column-reverse; }
    @media only screen and (min-width: 1068px) {
      .thb-product-detail.thb-product-style1 .product-gallery-container {
        flex-direction: row; } }
    @media only screen and (min-width: 1068px) {
      .thb-product-detail.thb-product-style1 .product-gallery-container .product-thumbnails {
        max-width: 84px;
        flex-shrink: 0; }
        .thb-product-detail.thb-product-style1 .product-gallery-container .product-thumbnails .slick-list,
        .thb-product-detail.thb-product-style1 .product-gallery-container .product-thumbnails .slick-track {
          max-width: 100%; } }
    @media only screen and (min-width: 1068px) {
      .thb-product-detail.thb-product-style1 .product-gallery-container .product-images {
        max-width: 540px;
        margin: 0 auto; } }
    .js .thb-product-detail.thb-product-style1 .product-gallery-container .product-images:not(.slick-initialized) .product-image:not(.is-initial-selected) {
      display: none; }
    @media only screen and (min-width: 1068px) {
      .thb-product-detail.thb-product-style1 .product-gallery-container .product-image-container {
        width: 100%;
        max-width: calc(100% - 84px);
        padding-left: 20px; } }
  .thb-product-detail.thb-product-style1 .product-information {
    padding-left: 15px; }
  @media only screen and (min-width: 1068px) {
    .thb-product-detail.thb-product-style1, .thb-product-detail.thb-product-style2 {
      margin-top: 50px; } }
  .thb-product-detail.thb-product-style2 .summary, .thb-product-detail.thb-product-style4 .summary, .thb-product-detail.thb-product-style5 .summary {
    position: sticky;
    top: 0;
    left: 0; }
    @media only screen and (min-width: 768px) {
      .thb-product-detail.thb-product-style2 .summary, .thb-product-detail.thb-product-style4 .summary, .thb-product-detail.thb-product-style5 .summary {
        top: 60px;
        padding: 40px 0; } }
  .thb-product-detail.thb-product-style2 .product-images img {
    margin-bottom: 3px; }
  .thb-product-detail.thb-product-style2 .product-image:last-of-type img {
    margin-bottom: 0; }
  .thb-product-detail.thb-product-style2 .product-information {
    padding: 0 7%; }
  .thb-product-detail.thb-product-style4 .product-information {
    padding: 0 4%; }
  .thb-product-detail.thb-product-style4 .product-images > div {
    margin-bottom: 30px; }
    @media only screen and (min-width: 1068px) {
      .thb-product-detail.thb-product-style4 .product-images > div:not(:first-of-type) {
        display: inline-block;
        width: 50%; } }
    @media only screen and (min-width: 1068px) {
      .thb-product-detail.thb-product-style4 .product-images > div:nth-child(2n) {
        padding-right: 15px; } }
    .thb-product-detail.thb-product-style4 .product-images > div:nth-child(2n) + div {
      padding-left: 15px; }
  .thb-product-detail.thb-product-style5 > .row:first-of-type {
    padding: 0;
    margin: 0;
    max-width: 100%; }
    .thb-product-detail.thb-product-style5 > .row:first-of-type > .columns {
      padding: 0; }
      .thb-product-detail.thb-product-style5 > .row:first-of-type > .columns.product-information {
        padding: 0 6%; }
        .thb-product-detail.thb-product-style5 > .row:first-of-type > .columns.product-information .summary {
          margin: 0 auto;
          max-width: 420px; }
  .thb-product-detail.thb-product-style5 .product-images img {
    margin-bottom: 3px; }
  .thb-product-detail .shopify-payment-button {
    margin-top: 10px; }
    .thb-product-detail .shopify-payment-button__button {
      border-radius: 0; }
      .thb-product-detail .shopify-payment-button__button--hidden {
        display: none; }

.pickup-availability-wrapper {
  position: relative; }
  .pickup-availability-wrapper.thb-loading {
    min-height: 32px; }

.pickup-availability-information {
  padding-left: 30px;
  position: relative;
  margin-bottom: 30px;
  margin-top: 10px; }
  .pickup-availability-information > svg {
    position: absolute;
    top: 5px;
    left: 0; }
  .pickup-availability-information .pickup-availability-information__title {
    margin-bottom: 0;
    line-height: 1.3; }
    .pickup-availability-information .pickup-availability-information__title span {
      font-weight: 600; }
  .pickup-availability-information .pickup-availability-information__stock {
    font-size: 13px;
    margin-bottom: 10px;
    color: var(--color-text); }
  .pickup-availability-information .pickup-availability-information__button {
    font-size: 15px;
    text-decoration: underline;
    text-underline-offset: 4px; }

#side-availability {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%); }
  #side-availability .side-availability-product {
    font-weight: 400;
    font-size: 18px; }
  #side-availability .pickup-availabilities-list {
    list-style: none;
    margin: 0;
    padding: 0; }
    #side-availability .pickup-availabilities-list li {
      border-top: 1px solid #e8e8e8;
      padding: 15px 0;
      font-size: 14px; }
      #side-availability .pickup-availabilities-list li .pickup-availability-list__location {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 5px; }
      #side-availability .pickup-availabilities-list li .pickup-availability-list__stock {
        margin-bottom: 10px; }
        #side-availability .pickup-availabilities-list li .pickup-availability-list__stock svg {
          margin-right: 5px; }
      #side-availability .pickup-availabilities-list li .pickup-availability-list__address {
        font-style: normal; }
        #side-availability .pickup-availabilities-list li .pickup-availability-list__address p {
          margin-bottom: 0; }

#shopify-product-reviews {
  margin: 0; }
  #shopify-product-reviews .spr-container {
    padding-left: 15px;
    padding-right: 15px;
    border: 0; }
    @media only screen and (min-width: 768px) {
      #shopify-product-reviews .spr-container {
        padding-left: 50px;
        padding-right: 50px;
        max-width: 980px;
        margin: 0 auto; } }
    #shopify-product-reviews .spr-container .spr-summary {
      font-size: 0.8125rem; }
      #shopify-product-reviews .spr-container .spr-summary .spr-summary-caption,
      #shopify-product-reviews .spr-container .spr-summary .spr-summary-actions {
        font-size: 0.875rem; }
    #shopify-product-reviews .spr-container .spr-starratings {
      font-size: 0.6875rem; }
    #shopify-product-reviews .spr-container .spr-header-title {
      text-transform: uppercase;
      letter-spacing: 0.07em;
      margin-bottom: 17px; }
    #shopify-product-reviews .spr-container .spr-review-header-title {
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.05em; }
    #shopify-product-reviews .spr-container .spr-review-header-byline {
      font-size: 12px;
      color: rgba(68, 68, 68, 0.7);
      font-style: normal; }
      #shopify-product-reviews .spr-container .spr-review-header-byline strong {
        font-weight: 400; }
    #shopify-product-reviews .spr-container .spr-review-content-body {
      font-size: 14px; }

shopify-payment-terms {
  display: block;
  margin-bottom: 20px; }

.product-recommendations {
  border-top: 1px solid #eeeeee;
  padding-top: 40px; }
  @media only screen and (min-width: 768px) {
    .product-recommendations {
      padding-top: 70px; } }
  .product-recommendations .section-header__title {
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-size: calc(var(--font-heading-scale) * 1.5rem);
    text-align: center;
    margin-bottom: 30px; }

.product__xr-button {
  width: 100%;
  align-items: center; }
  .product__xr-button svg {
    width: 16px;
    margin-right: 10px; }
    .product__xr-button svg path {
      fill: #fff; }
  .product__xr-button.hidden {
    display: none; }
  .product__xr-button[data-shopify-xr-hidden] {
    display: none; }
  .product__xr-button:not([data-shopify-xr-hidden]) {
    display: flex; }
