<div class="repair-centers">
  <section id="section-hero">
    <img src="{{ 'repairs-hero.jpeg' | asset_url }}" alt="Schok map" class="hero">
  </section>
  
  <section id="main-content">
    <div class="column first">
      <h1>Official Repair Center</h1>
      <p><strong>Schok Repair Center</strong><br />
          5850 Town and Country Blvd<br />
          Suite 203<br />
          Frisco, TX 75034<br />
          www.schokgear.com
      </p>
      <p>In order to avoid losing the warranty on your Schok device, you must present it to an official service center for repair. Only Shock's service centers have original parts and trained engineers to service your phone.</p>
    </div>
    <div class="column second">
      <h2>Warning</h2>
      <p>Never try to remove the battery of your Schok smartphone as it is <span class="blue">NON-REMOVABLE</span>. Only trained hardware engineers have the tools and training to manage a Lithium battery. Removing a battery without the proper tools, procedure, and experience can create a safety hazard.</p>
      <p>Schok guarantees that we will have parts and accessories to properly service your Schok device for 3 years from the EOL (End of Life) of the device.</p>
      <p>For replacement parts or accessories, such as:</p>
      <ul>
          <li>Batteries (For removable batteries)</li>
          <li>Cables</li>
          <li>Chargers</li>
          <li>Dock station</li>
          <li>Back and front covers</li>
          <li>Glass protectors</li>
          <li>Sleeve protectors</li>
          <li>Case protectors</li>
      </ul>
      <p>Please visit our accessory webpage at: <a href="https://schokgear.com/collections/all" target="_blank">https://schokgear.com/collections/all</a>.</p>
    </div>
  </section>
</div>