<div class="warranty">
  <section id="section-hero">
      <img src="https://cdn.shopify.com/s/files/1/1527/1793/files/Warranty-hero.jpg?v=1695225522" alt="Schok CPU" class="hero">
  </section>
  
  <section id="main-content">
      <h1>Schok's Warranty</h1>
      <p>Schok's mission is to have devices that you will love. We understand that these days your smartphone is part of your life, and we know how frustrating it can be when something goes wrong. Our goal is to get you up and running in no time! We strongly recommend that you read our <a href="https://cdn.shopify.com/s/files/1/1527/1793/files/Proofed_one_year.pdf?v=1658932160" target="_blank">one-year limited warranty</a>. There, you will find what is covered and what is not. Please remember that before you send your product for service or exchange, you need to back-up all your information.</p>
  
      <ul>
          <li>For a list of our official repair centers, please <a href="/pages/repair-centers">click this link</a>.</li>
          <li>For our minerals policy, <a href="https://cdn.shopify.com/s/files/1/1527/1793/files/schok-conflict-minerals-policy.pdf?v=1658932160" target="_blank">click this link</a>.</li>
          <li>For our WEEE Report, <a href="https://cdn.shopify.com/s/files/1/1527/1793/files/weee-report.pdf?v=1658932160" target="_blank">click this link</a>.</li>
          <li>For our Schok flip SC3218 WEEE Report, <a href="https://cdn.shopify.com/s/files/1/1527/1793/files/SC3218T_WEEE.pdf?v=1658932161" target="_blank">click this link</a>.</li>
          <li>To download the Schok flip SC3218 user manual, <a href="https://cdn.shopify.com/s/files/1/1527/1793/files/manual-schok-flip.pdf?v=1658932161" target="_blank">click this link</a>.</li>
          <li>To download the Schok Volt SV55 User manual, <a href="https://cdn.shopify.com/s/files/1/1527/1793/files/Schok_Volt_SV55_User_Guide.pdf?v=1658932161" target="_blank">click this link</a>.</li>
          <li>To download the Schok Volt SV55 Safety precautions booklet, <a href="https://cdn.shopify.com/s/files/1/1527/1793/files/SV55-safety-precaution-booklet-070121.pdf?v=1658932160" target="_blank">click this link</a>.</li>
          <li>Let's recycle for our planet. If you want to recycle any Schok device. Please <a href="https://schokgear.myshopify.com/collections/services/products/schok-recycle-program-for-all-schok-products" target="_blank">click this link</a>.</li>
          <li>Schok <a href="https://cdn.shopify.com/s/files/1/1527/1793/files/sustainability-report-2021.pdf?v=1658932161" target="_blank">Sustainability Report</a></li>
      </ul>
          
      <h2>How To Prepare For Fast Warranty Service</h2>
      <h3>Step One:</h3>
      <ol>
          <li>Analyze the problem.</li>
          <li>Search the online tutorial videos.</li>
          <li>Go to the MySchok app FAQ section or webpage at <a href="https://schokgear.com/pages/support">www.schokgear.com/pages/support</a>.</li>
      </ol>
      <h3>Step Two:</h3>
      <ol>
          <li>Identify your device model number.</li>
          <li>Identify your device Serial Number (SN).</li>
          <li>Identify your device IMEI.</li>
          <li>Provide place and date of purchase.</li>
      </ol>
      <h3>Step Three:</h3>
      <ol>
          <li>Send an email to <a href="mailto:support@schokgear.com.">support@schokgear.com</a>.</li>
          <li>Call our toll-free number 1-888-48-SCHOK.</li>
      </ol>
      <h3>Step Four:</h3>
      <p style="opacity: 0.7">A service representative will work with you to find a solution and will direct you regarding next steps. We will make it right!</p>
  
      <h2>Our Repair and Spare Parts Promise</h2>
      <p style="opacity: 0.7">Even if your Schok device has officially entered end of production, we have the commitment to keep 3 years of spare parts and accessories. Another good reason to have a Schok product.</p>
  </section>
</div>